header {
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  position: fixed;
  margin-bottom: 50px;
  z-index: 100;
  opacity: 94%;
  }

  h1{
    color: #000000;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 4px 3px 2px 1px #3c3c3c;
    border: #3c3c3c 1px solid;
  }
select{
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 20px;
}
input{
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
}
body{
    background-color: royalblue;
    color: #010101;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
}
button{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    z-index: 110;
}
.hover-icon-button {
    position: relative;
    background-color: royalblue;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .hover-icon-button:hover {
    background-color: rgb(214, 121, 8);
  }
  
  .hover-icon-button::after {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    transition: all 0.3s ease;
  }
  
  .hover-icon-button:hover::after {
    opacity: 1;
  }
.search{
    padding: 1px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px;
    border-radius: 20px;
}
#ulmenu {
  border-radius: 20px;
  color: #000000;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  
}

#ulmenu li {
  background-color: rgb(214, 121, 8);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px #3c3c3c;
  margin: 0 10px;
}

#ulmenu li a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #000000;
  border: #000000 1px solid;
  border-radius: 5px;
  padding: 5px;
  display: block;
  z-index: 1;
}

#ulmenu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: royalblue;
  border-radius: 0 5px 5px 0;
  transition: left 0.3s;
  z-index: -1;
}

#ulmenu li a:hover::before {
  left: 0;
}

#ulmenu li a:hover {
  color: black;
}

  #meimg {
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 4px 3px 5px 1px #3c3c3c;
    transition: transform 0.3s ease-in-out;
}
#meimg:hover {
    transform: translate(-5px, -10px);
}
footer{
    background-color: rgb(214, 121, 8);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 4px 3px 2px 1px #3c3c3c;
    border: #3c3c3c 1px solid;
}
#copyright{
    color: black;

}
.sections-food{
    list-style: none;
    text-align: left;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}
.sections-food li{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    border: #000000 1px solid;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: #000000 1px 1px 1px 1px;
    background-color: rgb(214, 121, 8);
}
.sections-food li a{
    text-decoration: none;
    color: black;
}


.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  bottom: 45%;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 h2{
  margin-top: 10px;
  text-decoration: underline;
 }
 /*** section overlay ***/
 .image-section {
  position: relative;
}

.image-section img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* Adjust the width and height as needed */
  width: 100%;
  height: 100%;
  /* Additional styles */
  object-fit: cover;
  object-position: center;
}

.image-section .content {
  margin-top: 80px;
  opacity: 94%;
}
#introp{
  color: #000000;
}
.services-content{
  border: #000000 1px solid;
  border-radius: 20px;
  color: #000000;
  margin-top: 80px;
}
html{
  scroll-behavior: smooth;
}
.loginsection{
  border: #000000 1px solid;
  border-radius: 20px;
  color: #000000;
  margin-top: 80px;
}